@tailwind base;
@tailwind components;
@tailwind utilities;

/*

Removed custom fonts for the time being.
Might want to switch to Merriweather and Open Sans, as per the ETC Cooperative style guide.

h1 {
  @apply font-atma
}

p {
  @apply font-lato  
}
*/

table, th, td {
  border: 1px solid black;
}

th, td {
  border-style: dotted;
  padding: 8px;
}